# General stuff
src @oliverschwendener
assets @oliverschwendener
.github @oliverschwendener
.vscode @oliverschwendener
docs @oliverschwendener
.eslintignore @oliverschwendener
.eslintrc.json @oliverschwendener
.gitattributes @oliverschwendener
.gitignore @oliverschwendener
.prettierrc @oliverschwendener
.npmrc @oliverschwendener
electron-builder.config.js @oliverschwendener
LICENSE @oliverschwendener
package.json @oliverschwendener
package-lock.json @oliverschwendener
README.md @oliverschwendener
tsconfig.node.json @oliverschwendener
tsconfig.renderer.json @oliverschwendener
vite.config.mts @oliverschwendener

# Core Modules

src/main/Core/IniFileParser @ke1v

# Extensions

# ApplicationSearch
src/main/Extensions/ApplicationSearch/Linux @ke1v
src/renderer/Extensions/ApplicationSearch/Linux @ke1v
