$input-background-color: #f2f2f2;
$input-text-color: #222;
$input-icon-color: lighten($input-text-color, 25);

$content-background-color: darken($input-background-color, 10);
$content-text-color: lighten($input-text-color, 10);

$highlight-color: #007acc;
$highlight-text-color: #fff;