$input-background-color: #1f1f1f;
$input-text-color: #fff;
$input-icon-color: darken($input-text-color, 50);

$content-background-color: #fff;
$content-text-color: #333;

$highlight-color: #2973cc;
$highlight-text-color: #fff;