<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
    <title>electronizr</title>
</head>

<body>
    <div id="root">

        <link rel="stylesheet" :href="colorThemePath">

        <input id="user-input" class="user-input" type="text" v-model="userInput" ref="input" v-on:keyDown="handleKeyPress" :autofocus="{ true: focusOnInput }">

        <div class="output-container" :class="{ 'toggled' : config.hideStatusBar }">

            <div class="search-result">
                <ul class="search-result-list">
                    <li v-for="item in searchResult" :class="{ 'active': item.isActive }" :id="item.id">
                        <span class="name">{{ item.name }}</span>
                        <span class="exec-args">{{ item.execArg }}</span>
                    </li>
                </ul>
            </div>

            <div class="execute-output" :class="{ 'hidden' : hideExecuteOutput}">
                <pre>{{ executeOutput }}</pre>
            </div>

            <div class="config" :class="{ 'hidden' : hideConfig }">

                <div class="config-item">
                    <h3>Keyboard shortcut</h3>
                    <select v-model="config.keyboardShortcut">
                        <option>alt+space</option>
                        <option>ctrl+space</option>
                        <option>shift+space</option>
                    </select>
                </div>

                <div class="config-item">
                    <h3>Window size</h3>
                    <div class="form-item" :class="{ 'hidden' : config.fullscreen }">
                        <label>Width</label>
                        <input type="number" v-model="config.size.width" class="new-item">
                    </div>
                    <div class="form-item" :class="{ 'hidden' : config.fullscreen }">
                        <label>Height</label>
                        <input type="number" v-model="config.size.height" class="new-item">
                    </div>
                    <div class="form-item">
                        <label>Fullscreen</label>
                        <input type="checkbox" v-model="config.fullscreen" class="new-item">
                    </div>
                </div>
                <hr>

                <div class="config-item">
                    <h3>Color Theme</h3>
                    <select v-model="colorTheme">
                        <option>atom-one-dark</option>
                        <option>dracula</option>
                        <option>osc-dark-blue</option>
                        <option>osc-dark-green</option>
                        <option>osc-light-blue</option>
                        <option>osc-light-green</option>
                    </select>
                </div>
                <hr>

                <div class="config-item">
                    <h3>Folders</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Add/Delete</th>
                                <th>Folder path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="folder in config.folders">
                                <td><i v-on:click="removeFolder(folder)" class="fa fa-minus-circle action-button"></i></td>
                                <td>{{ folder }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <i v-on:click="addNewFolder" class="fa fa-plus-circle action-button"></i>
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newFolder" placeholder="Folder path">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>

                <div class="config-item">
                    <h3>Shortcuts</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Add/Delete</th>
                                <th>Shortcut</th>
                                <th>File path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="shortcut in config.customShortcuts">
                                <td><i v-on:click="removeCustomShortcut(shortcut)" class="fa fa-minus-circle action-button"></i></td>
                                <td>{{ shortcut.shortCut }}</td>
                                <td>{{ shortcut.path }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <i v-on:click="addNewCustomShortcut" class="fa fa-plus-circle action-button"></i>
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newCustomShortcut.shortCut" placeholder="Shortcut">
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newCustomShortcut.path" placeholder="File path">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>

                <div class="config-item">
                    <h3>Search engines</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Add/Delete</th>
                                <th>Name</th>
                                <th>Prefix</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="webSearch in config.webSearches">
                                <td><i v-on:click="removeWebSearch(webSearch)" class="fa fa-minus-circle action-button"></i></td>
                                <td>{{ webSearch.name }}</td>
                                <td>{{ webSearch.prefix }}</td>
                                <td>{{ webSearch.url }}</td>
                            </tr>
                            <tr>
                                <td>
                                    <i v-on:click="addNewWebSearch" class="fa fa-plus-circle action-button"></i>
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newWebSearch.name">
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newWebSearch.prefix">
                                </td>
                                <td>
                                    <input class="new-item" type="text" v-model="newWebSearch.url">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>

                <div class="config-item">
                    <h3>Most used</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>File path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="favorite in config.favorites">
                                <td>{{ favorite.counter }}</td>
                                <td>{{ favorite.path }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button v-on:click="cleanUpFavorites">
                    <i class="fa fa-trash-o"></i>
                    Clean most used programs
                </button>
                </div>
                <hr>

                <div class="config-item">
                    <label>Hide status bar</label>
                    <input type="checkbox" v-model="config.hideStatusBar">
                </div>
                <hr>

                <div class="config-item">
                    <button v-on:click="closeConfig">
                    <i class="fa fa-arrow-left"></i>
                    Go Back
                </button>
                    <button v-on:click="saveConfig">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
                </div>
            </div>
            
        </div>

        <div class="status-bar" :class="{ 'hidden': config.hideStatusBar }" style="-webkit-app-region: drag">
            <span>
                {{ dateTimeNow }}
            </span>
            <span :class="{ 'hidden' : !computerHasBattery }">
                <i :class="battery.icon"></i>
                {{ battery.percentage }}%
            </span>
        </div>

    </div>


    <script src="./node_modules/vue/dist/vue.min.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>