@import "../../../node_modules/bulma/sass/utilities/initial-variables.sass";

$black: #FFFFFF;
$black-bis: #FAFAFA;
$black-ter: #F5F5F5;
$grey-darker: #DBDBDB;
$grey-dark: #B5B5B5;
$grey-light: #4A4A4A;
$grey-lighter: #363636;
$grey-lightest: #121212;
$white-ter: #242424;
$white-bis: #121212;
$white: #0A0A0A;