@import 'https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i';

$background-color: #ECEFF1;
$text-color: #212121;
$info-message-color: lighten($text-color, 25);
$highlight-color: #0277BD;
$highlight-color2: #2ecc71;

body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Segoe UI', sans-serif;	
}

div.content{
	background-color: $background-color;
	width: 100%;
	max-height: 562px;
	overflow: hidden;

	input{
		width: 100%;
		padding: 15px 0;
		border: none;
		outline: none;
		text-align: center;
		background: linear-gradient(to top left, #2c3e50, #546E7A);
		color: #fff;
		font-size: 36px;		
		font-weight: 600;
	}

	.search-icon{
		position: fixed;
		top: 36px;
		right: 25px;
		transform: translateY(-50%);
		color: #fff;
		font-size: 24px;
		z-index: 10;
	}

	div.result-value{
		width: 100%;
		text-align: center;

		p{
			color: $highlight-color;
			font-size: 24px;
			font-weight: 400;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			padding: 10px 0;

			&.active{
				background: linear-gradient(to bottom right, $highlight-color, $highlight-color2);
				color: #fff;
			}
		}
	}

	div.result-path{
		width: 100%;
		display: none;
		text-align: center;
	}

	div.info-message{
		color: $info-message-color;
		padding: 25px;
		text-align: center;
		font-size: 18px;
		display: none;
	}
}