$size: 7px;
$foreground-color: rgba(0,0,0,0.3);
$background-color: mix($foreground-color, white, 50%);

::-webkit-scrollbar {
    width: $size;
    height: $size;
}

::-webkit-scrollbar-thumb {
    background: $foreground-color;
}

::-webkit-scrollbar-track {
    background: $background-color;
}