// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');

$font-family-input: 'Fira Sans', 'Segoe UI', sans-serif;
$font-family-app-name: 'Fira Sans', 'Segoe UI', sans-serif;
$font-family-app-path: 'Fira Sans', 'Segoe UI Light', sans-serif;

body{
	margin: 0;
	padding: 0;
	font-family: $font-family-input;
	background: transparent;
}

div.content{
	background: $background-color;
	width: 100vw;
	height: 100vh;
	overflow: scroll;

	input{
		width: 100%;
		padding: 0 20px;
		border: none;
		outline: none;
		text-align: left;
		background: transparent;
		font-family: $font-family-input;
		color: $text-color;
		font-size: 48px;		
		font-weight: 400;
		line-height: 120px;
	}

	#search-icon{
		position: fixed;
		top: 54px;
		right: 30px;
		transform: translateY(-50%);
		color: $text-color;
		font-size: 24px;
		z-index: 10;
	}

	div.search-results{
		width: 100%;
		text-align: left;
		overflow: hidden;

		div{
			padding: 20px;

			p{
				margin: 0;
				padding: 0;

				span{
					float: right;
					color: $text-color-dim;
				}
			}

			p.app-name{
				color: $text-color;
				font-size: 24px;
				font-weight: 400;
				font-family: $font-family-app-name;

				span.app-file-extension{
					float: none;
					color: $text-color;
					opacity: 0.2;
				}
			}

			p.app-path{
				color: $text-color-dim;
				font-size: 16px;
				font-family: $font-family-app-path;

				overflow: hidden; 
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			p.info-message{
				color: $text-color;
				font-size: 24px;
			}

			&.active{
				background-color: $highlight-background-color;
				
				p.app-name{
					color: $highlight-text-color;

					span.app-file-extension{
						color: $highlight-text-color;
					}
				}

				p.app-path{
					color: $highlight-text-color-dim;
				}
			}
		}
	}
}

@import "scrollbar";