// Colors
$background-color: #21252b;

$text-color: #d7dae0;
$text-color-dim: #9da5b4;

$highlight-background-color: #282c34;
$highlight-text-color: #6494ed;
$highlight-text-color-dim: #9da5b4;

// Fonts
$font-family-input: 'Segoe UI', sans-serif;
$font-family-app-name: 'Segoe UI', sans-serif;
$font-family-app-path: 'Segoe UI Light', sans-serif;

body{
	margin: 0;
	padding: 0;
	font-family: $font-family-input;
	background: transparent;
}

div.content{
	background: $background-color;
	width: 100vw;
	height: 100vh;
	overflow: scroll;

	input{
		width: 100%;
		padding: 15px 20px;
		border: none;
		outline: none;
		text-align: left;
		background: transparent;
		font-family: $font-family-input;
		color: $text-color;
		font-size: 48px;		
		font-weight: 400;
	}

	#icon{
		position: fixed;
		top: 47px;
		right: 30px;
		transform: translateY(-50%);
		color: $text-color;
		font-size: 24px;
		z-index: 10;
	}

	div.search-results{
		width: 100%;
		text-align: left;
		overflow: hidden;

		div{
			padding: 20px;

			p{
				margin: 0;
				padding: 0;

				span{
					float: right;
					color: $text-color-dim;
				}
			}

			p.app-name{
				color: $text-color;
				font-size: 24px;
				font-weight: 400;
				font-family: $font-family-app-name;

				span.app-file-extension{
					float: none;
					color: $text-color;
					opacity: 0.2;
				}
			}

			p.app-path{
				color: $text-color-dim;
				font-size: 16px;
				font-family: $font-family-app-path;

				overflow: hidden; 
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			p.info-message{
				color: $text-color;
				font-size: 24px;
			}

			&.active{
				background-color: $highlight-background-color;
				
				p.app-name{
					color: $highlight-text-color;

					span.app-file-extension{
						color: $highlight-text-color;
					}
				}

				p.app-path{
					color: $highlight-text-color-dim;
				}
			}
		}
	}

	div.result-path{
		width: 100%;
		display: none;
		text-align: center;
	}
}