// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500');

$font-family-input: 'Fira Sans', 'Segoe UI', sans-serif;
$font-family-search-result-name: 'Fira Sans', 'Segoe UI', sans-serif;
$font-family-search-result-description: 'Fira Sans', 'Segoe UI Light', sans-serif;
$font-family-mono: 'Fira Mono', monospace;

body{
	margin: 0;
	padding: 0;
	font-family: $font-family-input;
	background: $background-color;
}

div.content{
	background: $background-color;
	width: 100vw;	

	input{
		width: 100%;
		padding: 0 20px;
		border: none;
		outline: none;
		text-align: left;
		background: transparent;
		font-family: $font-family-input;
		color: $text-color;
		font-size: 48px;		
		font-weight: 400;
		line-height: 120px;
		-webkit-app-region: drag;
	}

	#search-icon{
		position: fixed;
		top: 54px;
		right: 30px;
		transform: translateY(-50%);
		color: $text-color;
		font-size: 24px;
		z-index: 10;
	}

	div.search-results{
		background: $background-color;
		position: absolute;
		width: 100%;
		height: 480px;
		top: 120px;
		text-align: left;
		overflow-x: hidden;
		overflow-y: hidden;

		div{
			padding: 10px 20px;

			p{
				margin: 0;
				padding: 0;
			}

			p.result-name{
				color: $text-color;
				font-size: 24px;
				font-weight: 400;
				font-family: $font-family-search-result-name;
				line-height: 46px;

				span.file-extension{
					float: none;
					color: $text-color;
					opacity: 0.2;
				}
			}

			p.result-description{
				color: $text-color-dim;
				font-size: 16px;
				font-family: $font-family-search-result-description;
				font-weight: lighter;
				line-height: 30px;

				overflow: hidden; 
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			p.info-message{
				color: $text-color;
				font-size: 24px;
			}

			&.active{
				background-color: $highlight-background-color;
				
				p.result-name{
					color: $highlight-text-color;

					span.file-extension{
						color: $highlight-text-color;
					}
				}

				p.result-description{
					color: $highlight-text-color-dim;
				}
			}
		}

		div.file-content{
			color: $text-color-dim;
			padding: 0 20px;
			position: relative;
			max-height: 364px;
			overflow-y: scroll;
			overflow-x: hidden;

			img, video{
				height: 100%;
			}

			ul.folder-content{
				margin: 0;

				li.child-item{
					color: $text-color-dim;
					padding-bottom: 3px;
				}
			}

			pre {
				margin: 0;

				code{
					font-family: $font-family-mono;
					font-size: 14px;
				}
			}
		}
	}
}

$scrollbar-size: 7px;
$scrollbar-foreground-color: $scrollbar-color;
$scrollbar-background-color: $scrollbar-background-color;

::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-foreground-color;
}

::-webkit-scrollbar-track {
    background: $scrollbar-background-color;
}