@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900';
@import 'scrollbar';

$background-color: #ECEFF1;
$text-color: #212121;
$highlight-color: #0277BD;
$highlight-color2: #2ecc71;

body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Segoe UI', sans-serif;	
}

div.content{
	background-color: $background-color;
	width: 100%;
	max-height: 568px;
	overflow: hidden;

	input{
		width: 100%;
		padding: 15px 0;
		border: none;
		outline: none;
		text-align: center;
		background: linear-gradient(to top left, #2c3e50, #546E7A);
		font-family: 'Roboto', 'Segoe UI', sans-serif;
		color: #fff;
		font-size: 40px;		
		font-weight: 400;
	}

	.search-icon{
		position: fixed;
		top: 39px;
		right: 30px;
		transform: translateY(-50%);
		color: #fff;
		font-size: 24px;
		z-index: 10;
	}

	div.result-value{
		width: 100%;
		text-align: center;

		p{
			color: $highlight-color;
			font-size: 24px;
			font-weight: 400;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			padding: 10px 0;

			&.active{
				background: linear-gradient(to bottom right, $highlight-color, $highlight-color2);
				color: #fff;
				animation-name: bestSearchResultAnimation;
				animation-delay: 250ms;
				animation-duration: 750ms;
				animation-fill-mode: forwards;
				animation-iteration-count: infinite;
				animation-timing-function: ease-in-out;
			}
		}
	}

	div.result-path{
		width: 100%;
		display: none;
		text-align: center;
	}
}

@keyframes bestSearchResultAnimation{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}