@import 'roboto';
@import 'scrollbar';

$background-color: #222;
$text-color: #fff;

$highlight-color: #007acc;

body{
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Segoe UI', sans-serif;
}

div.content{
	background: lighten($background-color, 4);	
	width: 100%;
	max-height: 568px;
	overflow: hidden;

	input{
		width: 100%;
		padding: 15px 0;
		border: none;
		outline: none;
		text-align: center;
		background: $background-color;
		font-family: 'Roboto', 'Segoe UI', sans-serif;
		color: $text-color;
		font-size: 40px;		
		font-weight: 400;
	}

	.search-icon{
		position: fixed;
		top: 39px;
		right: 30px;
		transform: translateY(-50%);
		color: $text-color;
		font-size: 24px;
		z-index: 10;
	}

	.input-type-icon {
		position: fixed;
		top: 39px;
		left: 30px;
		transform: translateY(-50%);
		color: darken($text-color, 50);
		font-size: 24px;
		z-index: 10;
	}

	div.result-value{
		width: 100%;
		text-align: center;

		p{
			color: darken($text-color, 30);
			font-size: 24px;
			font-weight: 400;
			-webkit-margin-before: 0;
			-webkit-margin-after: 0;
			padding: 10px 0;

			&.active{
				background-color: $highlight-color;
				color: $text-color;
			}
		}
	}

	div.result-path{
		width: 100%;
		display: none;
		text-align: center;
	}
}