$background-color: #f2f2f2;

$text-color: #333;
$text-color-dim: #666;

$highlight-background-color: #008d64;
$highlight-text-color: #fff;
$highlight-text-color-dim: #7bc3b0;

$button-color: $highlight-background-color;
$button-text-color: $highlight-text-color;

$scrollbar-color: $highlight-background-color;
$scrollbar-background-color: darken($background-color, 3);

@import "app";