$background-color: #101010;
$userinput-text-color: #fff;

$text-color: #f2f2f2;
$text-color-dim: #888;

$highlight-background-color: #008d64;
$highlight-text-color: #fff;
$highlight-text-color-dim: #7bc3b0;

$button-color: $highlight-background-color;
$button-text-color: $text-color;

$scrollbar-color: $highlight-background-color;
$scrollbar-background-color: lighten($background-color, 5);

@import "app";