$side-padding: 15px;
$scrollbar-size: 8px;
$icon-size: 55%;

$font-family: "Segoe UI", "Helvetica";
$font-family-mono: "Consolas", "Courier", monospace;

@mixin transitions() {
    transition: all 250ms ease-in-out;
}

body {    
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
}

div.container {
    display: flex;
    flex-direction: column;
}

div.user-input-container {
    display: flex;
    padding: 0 $side-padding;
}

input.user-input {
    font-family: $font-family;
    font-weight: 200;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    color: $text-color;

    &:focus {
        outline: none;
    }
}

div.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: $icon-size;
        fill: $text-color;
    }
}

div.output-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

div.command-line-output-container {
    padding: $side-padding;
    
    pre {
        font-family: $font-family-mono;
        color: $mono-font-color;
        margin: 0;
    }
}

div.search-results-container {    
    width: 100%;
    height: 100%;
}   

div.search-result {
    font-family: $font-family;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &.active {
        background: $accent-color;
        color: $accent-text-color;
    }
}

div.search-result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.search-result-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: $icon-size;
        fill: $text-color;
    }

    &.active {
        svg {
            fill: $accent-text-color;
        }
    }
}

div.search-result-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.hidden {
    display: none;
}

span {        
    display: block;
    white-space: nowrap;

    &.search-result-name {
        &.active {
            font-family: $font-family;
            font-weight: 600;
        }
    }

    &.search-result-execution-argument {
        @include transitions();
        font-weight: 200;
        display: none;  

        &.active {
            display: block;
        }
    }
}

::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-foreground-color;
}

::-webkit-scrollbar-track {
    background: $scrollbar-background-color;
}