$background-color: #21252b;
$text-color: #ccc;
$accent-color: #333842;
$accent-text-color: #fff;
$mono-font-color: #ccc;

$scrollbar-foreground-color: lighten($background-color, 15);
$scrollbar-background-color: darken($background-color, 5);

@import "app";