$background-color: #fff;
$text-color: #000;
$accent-color: #1976D2;
$accent-text-color: #fff;
$mono-font-color: #666;

$scrollbar-foreground-color: #858585;
$scrollbar-background-color: #ccc;

@import "app";