$background-color: #fff;
$text-color: #000;
$accent-color: #1976D2;
$accent-text-color: #fff;
$mono-font-color: #666;

$scrollbar-foreground-color: #858585;
$scrollbar-background-color: #ccc;

@mixin font-user-input() {
    font-family: "Helvetica";
}

@mixin font-mono() {
    font-family: "Courier", monospace;
    color: $mono-font-color;
}

@mixin font-search-result() {
    font-family: "Helvetica";
    font-weight: 200;
}

@mixin font-search-result-name-active() {
    font-weight: 400;
}

@mixin font-search-result-execution-argument() {
    font-weight: 100;
}

@import "app";