:root {
    --background-color: #000;
    --text-color: #fff;
    --accent-color: #0078d7;
    --accent-text-color: #fff;
    --mono-font-color: #ccc;
    --scrollbar-foreground-color: #444;
    --scrollbar-background-color: #222;
}