:root {
    --background-color: #fff;
    --text-color: #555;
    --accent-color: #111;
    --accent-text-color: #fff;
    --mono-font-color: #666;
    --scrollbar-foreground-color: #858585;
    --scrollbar-background-color: #ccc;
}