.settings {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.settings__sidebar {
    max-height: 100vh;
    overflow: hidden;
    padding: 15px;
}

.settings__setting {
    flex-grow: 1;
    height: 100px;
    padding: 15px 30px;
}

.settings__setting-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.settings__setting-content-item-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.settings__setting-content-item {    
    margin-bottom: 25px;
}

.settings__setting-content-item:last-child {
    margin-bottom: 0;
}

.settings__notification {
    position: fixed;
    right: 15px;
    top: 15px;
    transition: all 250ms ease-in-out;
    z-index: 100;
    opacity: 0;
    transform: translateX(100%);
}

.settings__notification.visible {
    opacity: 1;
    transform: translateX(0);
}

.settings-loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255, 0.75);
    z-index: 100;
}

/* Spinner */
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #444;
    border-color: #444 transparent #444 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
