$user-input-height: 65px;
$search-results-container-height: calc(100% - #{$user-input-height});
$side-padding: 15px;
$text-color: #fff;
$background-color: #000;
$accent-color: #0078d7;

@mixin transitions() {
    transition: all 250ms ease-in-out;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: $background-color;
    color: $text-color;
}

div#vue-root {
    height: 100%;
}

div.container {
    width: 100%;    
    height: 100%;
    display: flex;
    flex-direction: column;
}

div.user-input-container {
    height: $user-input-height;
    display: flex;
    align-items: center;
    padding: 0 $side-padding;
}

input.user-input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: 2rem;
    font-weight: 100;
    color: $text-color;

    &:focus {
        outline: none;
    }
}

div.search-results-container {    
    height: $search-results-container-height;
    overflow-y: auto;
}   

div.search-result {    
    padding: 0 $side-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;

    &.active {
        background: $accent-color;
        color: $text-color;
    }

    span {        
        display: block;

        &.search-result-name {
            font-size: 1.25rem;

            &.active {
                font-weight: 600;
            }
        }
    
        &.search-result-execution-argument {
            @include transitions();
            font-size: 0.85rem;
            display: none;  
            white-space: nowrap;

            &.active {
                display: block;
            }
        }
    }
}