$background-color: #fff;
$text-color: #000;
$accent-color: #1976D2;
$accent-text-color: #fff;

$scrollbar-foreground-color: #858585;
$scrollbar-background-color: #353536;

@mixin font-user-input() {

}

@mixin font-search-result() {

}

@mixin font-search-result-name-active() {

}

@mixin font-search-result-execution-argument() {

}

@import "app";