$background-color: #000;
$text-color: #fff;
$accent-color: #0078d7;
$accent-text-color: #fff;

$scrollbar-foreground-color: #444;
$scrollbar-background-color: #222;

@mixin font-user-input() {
    font-family: "Segoe UI";
    font-weight: 200;
}

@mixin font-search-result() {
    font-family: "Segoe UI";
    font-weight: 200;
}

@mixin font-search-result-name-active() {
    font-family: "Segoe UI";
    font-weight: 600;
}

@mixin font-search-result-execution-argument() {
    font-weight: 200;
}

@import "app";