$background-color: #000;
$text-color: #fff;
$accent-color: #0078d7;
$accent-text-color: #fff;

$scrollbar-foreground-color: #858585;
$scrollbar-background-color: #353536;

@mixin font-normal() {
    font-family: "Segoe UI";
}

@mixin font-light() {
    font-family: "Segoe UI Light";
}

@import "app";