name: Build
on: [push, pull_request]

jobs:
    build:
        strategy:
            matrix:
                os: [macos-12, windows-2022]

        runs-on: ${{ matrix.os }}
        name: Build on ${{ matrix.os }}
        steps:
            - name: Checkout current commit/branch/tag
              uses: actions/checkout@v3

            - name: Set up pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 8

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: pnpm

            - name: Install dependencies
              run: pnpm install

            - name: Lint TypeScript files
              run: pnpm lint

            - name: Prettier check
              run: pnpm exec prettier --check src/**/*.ts

            - name: Run tests
              run: pnpm test

            - name: Bundle files
              run: pnpm bundle
              env:
                  NODE_ENV: production

            - name: Publish new release
              if: startsWith(github.ref, 'refs/tags')
              run: pnpm package:publish
              env:
                  CI: true
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
