name: Publish new release

on:
    push:
        tags:
            - "*"

permissions: {}

jobs:
    release:
        strategy:
            matrix:
                os: [macos-15-intel, macos-15, windows-2025, ubuntu-24.04]
        runs-on: ${{ matrix.os }}
        name: Publish new release
        environment: release
        steps:
            - name: Checkout current commit/branch/tag
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Install dependencies
              run: npm install
              env:
                  NODE_ENV: development

            - name: Run typecheck
              run: npm run typecheck

            - name: Run linter
              run: npm run lint

            - name: Run prettier
              run: npm run prettier:check

            - name: Run tests
              run: npm run test

            - name: Build app
              run: npm run build
              env:
                  NODE_ENV: production

            - name: Package and publish
              run: npm run package:publish
              env:
                  CI: true
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
